.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.poster-nav{
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.page-image{
  width: 40vw;
  height: 120vh;
  margin: 1em;
}

.poster-image{
  width: 20vw;
  height: 60vh;
  margin: 1em;
}

.center{
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.slide-left{
  display: inline-flex;
  justify-content: left;
  margin-left: 5em;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.movie-details{
  margin-left: 3em;
  text-align: left;
  list-style: none;
  align-items: center;
}

.no-bullet{
  list-style: none;
}

.drop3{
  margin-top: 3em;
}

.drop5{
  margin-top: 5em;
}

.in3{
  margin-left: 3em;
}

.in5{
  margin-left: 5em;
}

/* Payment Page */

#payment_form {
  border: solid;
  display:inline-flex;
  width: 80%;
}
#left_col {
  border: solid;
  width: 50%;
  padding: 1%;
}
#right_col {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 50%;
  padding: 1%;
}
.hidePoint {
  list-style-type: none;
}
input {
  display: flex;
  justify-self: center;
}