body {
  margin: 0;
  font-family: 'Anek Telugu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://images.pexels.com/photos/8263326/pexels-photo-8263326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: repeat;
  padding-bottom: 2em;
  color: whitesmoke !important;
}

.logo{
  height: 70px;
}

.main-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

.title {
  font-size: 6.25em;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 2%;
  width:100%;

}

.hr1{
  margin-left:20%;
  margin-right: 20%;
}

.text {
  font-size: 1.875em;
  color: whitesmoke;
  text-align: center;
  width:60%;
}

.card-img {
  width: 12.5em;
  height: 14.375em;
  border-radius: 0.625em;
  padding: 0.9375em 1.5625em;
  box-sizing: border-box;
  margin: 0.3125em 0.9375em;
  background-size: cover;
  color: whitesmoke;
  text-shadow: 0.125em;
  display: inline-block;
}

.card-img:hover {
  width: 12.5em;
  height: 14.375em;
  border-radius: 0.625em;
  padding: 0.9375em 1.5625em;
  box-sizing: border-box;
  margin: 0.3125em 0.9375em;
  background-size: cover;
  color: whitesmoke;
  text-shadow: 0.125em;
  display: inline-block;
  transition: transform;
  transform: translateY(-0.6250em);
  cursor: pointer;
}

.col {
  display: flex;
  justify-content: center;
  padding-top: 1.25em;
}

.card1 {
  background-image: url(https://cdn.pixabay.com/photo/2021/08/24/10/22/empty-seats-6570233_960_720.jpg);
}

.card2 {
  background-image: url(https://cdn.pixabay.com/photo/2020/06/20/04/33/space-5319624_960_720.jpg);
}

.card3 {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/22/23/19/constellations-1851128_960_720.jpg);
}

.card4 {
  background-image: url(https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014619_960_720.jpg);
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: #6c757d;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: space-evenly;
}

.nav a {
  color: whitesmoke;
  text-decoration: none;
  marker: none;
  font-size: 1.6em;
  padding: 2em;
}

.nav a:hover {
  color: #00b4b4;
  text-shadow: 1em;
}

.navi{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: small;
}

/* .soon{
  color: whitesmoke;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.7em;
  font-size: 4em;
} */

.nav-list {
  display: inline;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 20%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
